
@media (max-width: 1200px) {
  span.logo, div.socials, span.spanHome {
    display: none;
  }
  div.icons {
    flex-direction: row;
  }

}

.logo {
  font-size: 5rem;
}

.fade-appear {
  opacity: 0;
  z-index: 1;
  transform: scale(0.9);
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1000ms ease-in-out, transform 1000ms ease-in-out;
}

/* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR */
.navbar {
  height: 100%;
  width: 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #151618;
  @media (max-width: 1200px) {
    width: 100%;
    height: 5em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 0 1rem;
  }
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 2rem;
  padding: 2rem;
  position: relative;
}

.icon:hover {
  color: #2EC4B6;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR *//* NAVBAR */
/* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT *//* CONTACT */
.Contact__homepage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width:1200px) {
    flex-direction: column;
  }
}

.Contact__container {
  flex-grow: 1;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 65%;
  box-shadow: 0 42px 31px rgba(0, 0, 0, 1);
  background-color: #FFFFF3;
  @media (max-width: 1200px) {
    width: 90%;
    height: 80%;
  }
}

.form__name {
  width: 60%;
  height: 5rem;
  border: none;
  border-bottom: 2px solid #2EC4B6;
  font-size: 3rem;
  margin: 2rem;
  font-family: 'Roboto Mono', monospace;
  color: #151618;
  @media (max-width: 1200px) {
    width: 90%;
  }
}

.form__name:focus {
  outline: none;
}

.form__email {
  width: 60%;
  height: 5rem;
  font-size: 3rem;
  border: none;
  margin: 2rem;
  border-bottom: 2px solid #2EC4B6;
  font-family: 'Roboto Mono', monospace;
  color: #151618;
  @media (max-width: 1200px) {
    width: 90%;
  }
}

.form__email:focus {
  outline: none;
}

.form__text {
  width: 60%;
  height: 30%;
  border: none;
  border-bottom: 2px solid #2EC4B6;
  font-family: 'Roboto Mono', monospace;
  color: #151618;
  resize: none;
  overflow: auto;
  @media (max-width: 1200px) {
    width: 90%;
  }
}

.form__text:focus {
  outline: none;
}

.form__button {
  text-transform: uppercase;
  border: none;
  margin-top: 2rem;
  background-color: #2EC4B6;
  color: #FFFFF3;
  padding: 2rem 4rem 2rem 4rem;
}

/* SHOWCASE *//* SHOWCASE *//* SHOWCASE *//* SHOWCASE *//* SHOWCASE *//* SHOWCASE *//* SHOWCASE */
.showcase__homepage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.showcase__components {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

/* SHOWCASE *//* SHOWCASE *//* SHOWCASE *//* SHOWCASE *//* SHOWCASE *//* SHOWCASE *//* SHOWCASE */
/* CALCULATOR *//* CALCULATOR *//* CALCULATOR *//* CALCULATOR *//* CALCULATOR *//* CALCULATOR *//* CALCULATOR */
.showcase__calculator {
  width: 63rem;
  height: 36rem;
  background-color: #FFFFF3;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 22px #2EC4B6;
  margin: 1rem;
  position: absolute;
  @media (max-width: 1200px) {
    width:35rem;
    height:20rem;
  }
}

.number {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: 4rem;
}

.orders {
  border: none;
  border-bottom: 2px solid #2EC4B6;
  width: 40%;
}

.orders:focus {
  outline: none;
}

.ordersShow {
  font-size: 2rem;
  color: #FFFFF3;
  width: 40%;
  height: 2.8rem;
  background-color: #2EC4B6;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px #2EC4B6;
  @media (max-width: 1200px) {
    font-size:1.5rem;
  }
}

.select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.selectForm {
  width: 40%;
  border: none;
  border-bottom: 2px solid #2EC4B6;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  color: black;
  outline: none;
}

.total {
  align-self: flex-end;
  width: 17rem;
  height: 6rem;
  font-size: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  margin-right: 4rem;
  align-items: center;
  box-shadow: 0 0 10px #2EC4B6;
  background-color: #2EC4B6;
  @media (max-width: 1200px) {
    font-size:1.5rem;
    width:12rem;
    height:3rem;
  }
}

/* CALCULATOR *//* CALCULATOR *//* CALCULATOR *//* CALCULATOR *//* CALCULATOR *//* CALCULATOR *//* CALCULATOR */
.Calculator, .binaryCalc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border: 6px solid #2EC4B6;
  border-radius: 10px;
  box-shadow: 0 0 10px #2EC4B6;
  margin: 1rem;
  position: absolute;
}

.box, .boxEquals {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2EC4B6;
  font-size: 4rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  @media (max-width: 1200px) {
    width:3.5rem;
    height:3.5rem;
    font-size:3rem;
    margin:0;
    padding:0;
  }
}
.box{
  @media (max-width: 1200px){
    margin:0.1rem 0.3rem;
  }
}

.boxEquals {
  width: 7rem;
  height: 7rem;
  font-size: 5rem;
  @media (max-width: 1200px) {
    width:3.6rem;
    height:3.6rem;
    margin:0.2rem;
    font-size:3.5rem;
  }
}

.firstLine, .secondLine, .thirdLine {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.plus {
  font-size: 7rem;
  cursor: pointer;
  @media (max-width: 1200px){
    font-size:3rem;
  }
}

.calculatorHeader {
  font-size: 5rem;
  font-family: 'Roboto Mono', monospace;
  align-self: flex-start;
  margin: 0;
  margin-left: 1rem;
  @media (max-width: 1200px) {
    font-size:2rem;
  }
}

.calculatorHeaderMin {
  font-family: 'Roboto Mono', monospace;
  align-self: flex-start;
  margin: 0;
  margin-left: 1rem;
  font-size: 2rem;
  @media (max-width: 1200px) {
    font-size:1rem;
  }
}

.line {
  width: 100%;
  height: 0.5rem;
  background-color: #2EC4B6;
}

.arrowLeft {
  width: 5rem;
  height: 5rem;
  border: none;
  border-left: 1rem solid #2EC4B6;
  border-top: 1rem solid #2EC4B6;
  transform: rotate(-45deg);
  cursor: pointer;
  background: none;
}

.arrowRight {
  width: 5rem;
  height: 5rem;
  border: none;
  border-right: 1rem solid #2EC4B6;
  border-top: 1rem solid #2EC4B6;
  transform: rotate(45deg);
  cursor: pointer;
  background: none;
}

.arrowLeft:disabled, .arrowRight:disabled {
  opacity: 0.3;
}

.arrowRight:focus, .arrowLeft:focus {
  outline: none;
}

.fade-enter {
  opacity: 0;
  z-index: 100;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.app-container {
  position: relative;
  width: 80%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width:1200px) {
    width:90%;
  }
}

.gramLink {
  font-family: 'Lobster', cursive;
  font-size: 10rem;
  color: #2EC4B6;
  cursor: pointer;
  @media (max-width: 1200px) {
    font-size:7rem;
  }
}
